@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

nav{
  background-color: rgb(231, 231, 231);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  height: 15vh;
  padding-left: 50vh;
 

}

.li-a{transition: 0.1s;
  font-weight: 300;
  font-size: x-large;
  color: rgb(116, 116, 116);
  margin-left: 6vh;
  width: 13vh;
  text-align: center;
}


.li-a:hover{
 
  letter-spacing: 0.5px;
   transition: .5s;
   border-bottom: 1px solid gray;
}


.logo{
  width: 12vh;
  height: 12vh;
 box-shadow: 3px 3px 3px 3px gray;

}

.logo img{
width: 100%;
height: 100%;
}

@media (max-width: 1026px) {
nav{
  padding-left: 5vh;
};
.li-a{
  font-weight: 800;
  font-size:x-large;
  color: rgb(136, 135, 135);

}
    
 };

 /* nav finish */

 .stn1{
 height: 50px;
 }

 input{
background-color: rgb(240, 240, 240);
border-radius: 7px;

    font-size: large;

  
 }

 a{
  margin-top: 1vh;
 }

 .baslik{
  background-color: #ffa994;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px #f5c5ba ;
  border:1px solid rgb(221, 221, 221);
  padding:1vh 0 1vh 0 ;
  }

  .info{
    border:2px solid #f5e8e5;
    margin-top: 1.5vh;
    border-radius:10px;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 7px 1px rgb(226, 226, 226) ;
    padding:1vh 0 1vh 0vh ;
    background-color: white;
   
    }
  